<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    
<header>
    <h1>MalinoisK9</h1>
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="productos.html">Entrenamiento</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="presupuesto.html">Presupuesto</a></li>
        </ul>
    </nav>
</header>
    
    <h2>Contacto</h2>

    <form>
        <label>Nombre:</label>
        <input type="text" required>

        <label>Email:</label>
        <input type="email" required>

        <label>Mensaje:</label>
        <textarea></textarea>

        <button type="submit">Enviar</button>
    </form>

</body>
</html>
