<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Presupuesto</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<header>
    <h1>MalinoisK9</h1>
</header>

<h2>Solicitar presupuesto</h2>

<form>

    <label>Nombre:</label>
    <input type="text" required>

    <label>Email:</label>
    <input type="email" required>

    <label>Tipo de entrenamiento:</label>
    <select required>
        <option value="">-- Selecciona una opción --</option>
        <option>Básico</option>
        <option>Avanzado</option>
        <option>Protección</option>
    </select>

    <label>Días de entrenamiento:</label>
    <input type="number" min="1" required>

    <label>
        <input type="checkbox" required>
        Acepto la política de privacidad
    </label>

    <button type="submit">Enviar</button>
    
    <form onsubmit="mostrarMensaje(event)">

</form>
    
<p id="mensaje-exito" style="display:none; color: green;">
    Sus datos han sido enviados correctamente
</p>
    
<script>
function mostrarMensaje(event) {
    event.preventDefault(); // evita que la página se recargue

    document.getElementById("mensaje-exito").style.display = "block";
}
    
</script>
</body>
</html>
