<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Presupuesto</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <header>
        <h1>MalinoisK9</h1>
        <nav>
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/views/productos.html">Entrenamiento</a></li>
                <li><a href="/views/contacto.html">Contacto</a></li>
                <li><a href="/views/presupuesto.html">Presupuesto</a></li>
            </ul>
        </nav>
    </header>
    <h2>Solicitar presupuesto</h2>

    <form>
        <label>Nombre:</label>
        <input type="text">

        <label>Tipo de entrenamiento:</label>
        <select>
            <option>Básico</option>
            <option>Avanzado</option>
            <option>Protección</option>
        </select>
    
        <label>Días de entrenamiento:</label>
        <input type="number">
    
        <button type="submit">Calcular</button>
    </form>

</body>
</html>
