<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Entrenamiento</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

    <header class="header">

        <div class="logo">
            <img src="../images/logok9.png" alt="Logo MalinoisK9">
        </div>

        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html"class="active">Entrenamiento</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            
            </ul>
        </nav>

    </header>

    <h1>Entrenamientos</h1>

    <div class="grid">
        <div class="card">Obediencia básica</div>
        <div class="card">Entrenamiento avanzado</div>
        <div class="card">Protección K9</div>
        <div class="card">Deporte canino</div>
    </div>
    <footer class="footer">

    <!-- REDES SOCIALES -->
       <div class="redes">
        <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
       </div>
    
    <!-- DIRECCIÓN -->
        <p>📍 Sevilla, España</p>

    <!-- AVISO LEGAL -->
        <a href="https://www.conprueba.es/aviso-legal" target="_blank" >
        Aviso legal
        </a>
    </footer>
</body>
</html>
